<html>
  <head>

    <link rel="stylesheet" href="staticPage.css">
    <meta charset="utf-8">

    <meta name="description" content="Want to find a sweet new lunch spot? Shake it with Yaochima!">

    <title>摇吃嘛 | Yaochima</title>
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">

  </head>
  <body>
    <div class="banner-wrapper">
      <div class="container">
        <div class="header">

        </div>
        <div class="logo-group">
          <table class="title-text">
            <tr><td>摇</td></tr>
            <tr><td>吃</td></tr>
            <tr><td>嘛</td></tr>
            <tr><td><img class="wechat-icon" src="https://yaochima.shanghaiwogeng.com/icons/wechat-icon.svg"></td></tr>
            <tr><td><img class="wechat-icon" src="https://yaochima.shanghaiwogeng.com/icons/wechat-icon-mp.svg"></td></tr>
            <tr><td><p>Yaochima</p></td></tr>
            <tr><td><p>A</p></td></tr>
            <tr><td><p>Wechat</p></td></tr>
            <tr><td><p>Mini</p></td></tr>
            <tr><td><p>Program</p></td></tr>
          </table>
          <img class="logo-image" src="https://yaochima.shanghaiwogeng.com/index-cat-logo.svg">
          <img class ="text-loop" src="https://yaochima.shanghaiwogeng.com/index-text-loop.svg">
          <table class="subtitle-text">
            <tr><td>要</td></tr>
            <tr><td>吃</td></tr>
            <tr><td>吗</td></tr>
            <tr><td>？</td></tr>
            <tr><td>要</td></tr>
            <tr><td>摇</td></tr>
            <tr><td>嘛</td></tr>
            <tr><td>!</td></tr>
            <tr><td><p>Wanna</p></td></tr>
            <tr><td><p>Eat?</p></td></tr>
            <tr><td><p>Gotta</p>
            <tr><td><p>Shake</p>
            <tr><td><p>It</p></td></tr>
          </table>
        </div>

      </div>
    </div>
    <div class="landing-group center-text">
      <div class="text">
        <h3 style="padding: 30px; width: 500px">Scan this <span style="color:#20C000">miniprogram</span> QR code to shake and find your next neighborhood lunch spot!</h3>
      </div>
      <div class="qr">
        <img class="qrcode" src="https://yaochima.shanghaiwogeng.com/qrcode.jpg">
      </div>
        <span style="padding: 30px; width: 500px">
          <h3>Found a new place to try? </h3>
          <h3>Share the restaurant & invite your friends!</h3>
        </span>
    </div>
    <div class="landing-group">
      <table class="team">
         <tr>
          <td>
            <h3>Who We Are</h3>
          </td>
        </tr>
        <tr>
          <td><img class="profilepic" src="https://yaochima.shanghaiwogeng.com/fabien.png"></td>
        </tr>
        <tr>
          <td>
            <h2>Fabien Martin</h2>
            <p>"Back-end wizard who loves Sichuan"</p>
          </td>
        </tr>
        <tr>
          <td><img class="profilepic" src="https://yaochima.shanghaiwogeng.com/alina.png"></td>
        </tr>
        <tr>
          <td>
            <h2>Alina Kabirova</h2>
            <p>"From front end to back end: Russian hacker."</p>
          </td>
        </tr>
        <tr>
          <td><img class="profilepic" src="https://yaochima.shanghaiwogeng.com/grace.png"></td>
        </tr>
        <tr>
          <td>
            <h2>Grace Yang</h2>
            <p>"Front-end fanatic foodie."</p>
          </td>
        </tr>
        <tr>
          <td>
            <img class="bowl-icon" src="https://yaochima.shanghaiwogeng.com/icons/icon_design-04.png">
          </td>
        </tr>
      </table>
    </div>



  </body>
  <footer>
    <p class="center-text" style="color:#D8D8D8; font-size: 8px">沪ICP备17006075号-1</p>
  </footer>
</html>
